<!doctype html>
<html ng-app="phonebook">
    <head>
        <meta charset="utf-8">

        <title>Phonebook</title>
        
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/app.css">        

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        
        <script src="js/app.js"></script>
        <script src="js/value/config.js"></script>

        <script src="js/providers/serialGeneratorProvider.js"></script>

        <script src="js/services/contatosApiService.js"></script>
        <script src="js/services/operadorasApiService.js"></script>
        <script src="js/controllers/phonebookController.js"></script>
        <script src="js/config/serialGeneratorConfig.js"></script>
    </head>
    <body ng-controller="phonebookController">
        
        <div class="jumbotron">
          
          <h4>{{ app }}</h4>
          
          <table ng-show="contatos.length > 0" class="table">
            <tr>
              <th></th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Data</th>
              <th>Operadora</th>
            </tr>
            <tr ng-class="{ 'selecionado negrito': contato.selecionado }" ng-repeat="contato in contatos">
              <td><input type="checkbox" ng-model="contato.selecionado" /></td>
              <td>{{contato.nome}}</td>
              <td>{{contato.telefone}}</td>
              <td>{{contato.data}}</td>
              <td>{{contato.operadora.nome}}</td>
            </tr>          
          </table>

          <hr />
          
          <form name="contatoForm">
            
            <div ng-show="contatoForm.$invalid && contatoForm.$dirty" class="alert alert-danger">
              
              <div ng-messages="contatoForm.nome.$error">
              
                <div ng-message="required" >
                  Preencha seu nome :)
                </div>

                <div ng-message="minlength" >
                  Seu nome deve ter no mínimo 6 letras ;)
                </div>

              </div>
 
              <div ng-messages="contatoForm.telefone.$error">
                
                <div ng-message="required">
                  Preencha seu telefone :)
                </div>

                <div ng-message="pattern">
                  Seu telefone deve ser tipo 9999-9999 ou 99999-9999 ;)
                </div>
 
              </div>
            
            </div>

            <input  type="text"
                    name="nome" 
                    class="form-control" 
                    placeholder="Nome"
                    ng-model="contato.nome"
                    ng-required="true"
                    ng-minlength="6">

            <input  type="text"
                    name="telefone" 
                    class="form-control" 
                    placeholder="Telefone"
                    ng-model="contato.telefone" 
                    ng-required="true"
                    ng-pattern="/^\d{4,5}-\d{4}$/">
            
            <select class="form-control" 
                    ng-model="contato.operadora" 
                    ng-options="operadora.nome for operadora in operadoras">
              <option value="">Selecione uma operadora</option>
            </select>

            <button class="btn btn-primary btn-block" 
                    ng-click="adicionarContato(contato)"
                    ng-disabled="contatoForm.$invalid" >
              Adicionar Contato
            </button>

            <button class="btn btn-danger btn-block" 
                    ng-click="apagarContatos(contatos)"
                    ng-disabled="!isContatoSelecionado(contatos)">
              Apagar Contatos
            </button>
          </form>
        
        </div>
        <div ng-include="'views/footer.html'"></div>
    </body>
</html>